<!-- 
  - #FOOTER
-->

<footer class="footer">

    <div class="footer-top" style="background-image: url('./assets/images/footer-illustration.png')">
      <div class="container">
  
        <div class="footer-brand">
  
          <a href="" class="logo">Malthus<span class="span">.</span></a>
  
          <p class="footer-text">
            Les experts financiers vous aident à découvrir comment vous pouvez augmenter vos fonds...
          </p>
  
          <ul class="social-list">
  
            <li>
              <a href="#" class="social-link">
                <i class="fab fa-facebook"></i>
              </a>
            </li>
  
            <li>
              <a href="#" class="social-link">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
  
            <li>
              <a href="#" class="social-link">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
  
            <li>
              <a href="#" class="social-link">
                <i class="fab fa-pinterest"></i>
              </a>
            </li>
  
          </ul>
  
        </div>
  
        <ul class="footer-list">
  
          <li>
            <p class="footer-list-title">Coordonnées</p>
          </li>
  
          <li>
            <p class="footer-list-item">+229 65563933</p>
          </li>
  

  
          <li>
            <address class="footer-list-item">504 jericho benin</address>
          </li>
  
        </ul>
  
        <ul class="footer-list">
  
          <li>
            <p class="footer-list-title">Horaires d'ouverture</p>
          </li>
  
          <li>
            <p class="footer-list-item">Lundi-Vendredi: 08:00-22:00</p>
          </li>
  
          <li>
            <p class="footer-list-item">Mardi 16h: Jusqu'à Minuit</p>
          </li>
  
          <li>
            <p class="footer-list-item">Samedi: 10:00-16:00</p>
          </li>
  
        </ul>
  
        <form action="" class="footer-form">
  
         <br><br> <p class="footer-list-title">Réserver une table</p>
  
          <div class="input-wrapper">
  
            <input type="text" name="full_name" required placeholder="Votre Nom" aria-label="Votre Nom"
              class="input-field">
  
            <input type="email" name="email_address" required placeholder="Email" aria-label="Email"
              class="input-field">
  
          </div>
  
          <div class="input-wrapper">
  
            <select name="total_person" aria-label="Nombre de personnes" class="input-field">
              <option value="person">Personne</option>
              <option value="2 person">2 Personnes</option>
              <option value="3 person">3 Personnes</option>
              <option value="4 person">4 Personnes</option>
              <option value="5 person">5 Personnes</option>
            </select>
  
            <input type="date" name="booking_date" aria-label="Date de réservation" class="input-field">
  
          </div>
  
          <textarea name="message" required placeholder="Message" aria-label="Message" class="input-field"></textarea>
  
          <button type="submit" class="btn">Réserver une table</button>
  
        </form>
  
      </div>
    </div>
  
    <div class="footer-bottom">
      <div class="container">
        <p class="copyright-text">
          &copy; 2022 <a href="#" class="copyright-link">malthus</a> Tous droits réservés.
        </p>
      </div>
    </div>
  
  </footer>
  
  
  <!-- 
    - #BACK TO TOP
  -->
  
  <a href="#top" class="back-top-btn" aria-label="Retour en haut" data-back-top-btn>
    <i class="fas fa-chevron-up"></i>
  </a>
  
  
  <!-- 
    - lien javascript personnalisé
  -->
  <script src="./assets/js/script.js" defer></script>
  
  <!-- 
    - lien ionicon
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  

  